@font-face {
    font-family: 'SoNormalRegular';
    src: url('../resources/fonts/fonts/SONORM_.ttf'); 
    font-weight: normal;
    font-style: normal;
  }
  
    
  html {
      overflow: visible;
      height: 100%;
  }

  html, body {
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
  }
  
  main {
      width: 100%;
      height: 100%;
      /*! bottom: 0px; */
      /*! position: absolute; */
  }
  
  header {
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 0 18%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffdfe0;
    /*background-image: url('../resources/images/bg9.png');*/
    background-image: url('../resources/images/texture2.png');
    background-repeat: repeat;
    border-bottom: 2px solid #60435f;
    height: 10%;
  }

  .userNav {
    position: relative;
    display: inline-block;
  }
  
  .profilePictureIcon {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    border: 1px dashed rgb(206, 142, 177);
  }
  
  .userNav:hover .userNavHoverMenu {
    display: block;
  }
  
  input[type=text] {
    margin-top: 1em;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    font-family: 'SoNormalRegular';
    font-weight: lighter;
    cursor: url('../resources/images/cursor2.png'), auto;	
  }
  
  .imageContainer {
    max-width: 400px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 20em;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10%;
    border: 1px solid rgb(114, 173, 149);
    border-bottom: 2px solid rgb(114, 173, 149);
    border-right: 2px solid rgb(114, 173, 149);
    margin-left: 3em;
    margin-right: 2.5em;
    margin-top: 2em;
  }
  
  .imageContainer span {
    display: none;
  }
  
  .imageContainer:hover {
    flex-grow: 4.3;
    transition: all 300ms ease-in-out;
  }
  
  .imageContainer:hover span {
    z-index: 999;
    position: fixed;
    overflow: hidden;
    background-color: rgba(136, 180, 173, 0.4);
    display: block;
    height: 2.5em;
    width: 4.5em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(114, 173, 149);
    font-size: 2em;
    color: white;
  }
  
  .imageContainer p {
    position: absolute;
    bottom: 0px;
    padding-bottom: 15%;
  }
  
  .sectionMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15%;
    position: relative;
  }
  
  #skillsDisplay {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    margin: auto;
    background-image: url("../resources/images/bg15.png");
    border-image: url("../resources/images/laceborderfull.png") 250 / 250px / 45px round;
    position: relative;
    font-family: 'SoNormalRegular';
    padding-left: 2em;
    padding-right: 2em;
    bottom: 0px;
    overflow: visible;
    position: relative;
  }
  
  #skillsDisplay img {
    width: auto;
    display: block;
    height: 20%;
    width: 20%;
    max-width: 10%;
    max-height: 10%;
    transform-origin: 0 0;
    transform: scale(10);
  }
  
  @media screen and (max-width: 600px) {
    header {
        padding: 0px; 
    }
    header > * {
        transform: scale(70%, 70%);
        flex-direction: column;
        align-items: flex-start;
    }
    #skillsDisplay {
        width: 100%;
    }
  }
  
  .skillChooserHeader {
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5em;
    color: #fffdfe;
    text-shadow: 2px 2px #a07181;
    position: relative;
  }
  
  #skillsDisplay hr {
    border: 0 none;
    border-top: 2px dashed #a07181;
    position: relative;
  }
  
  header button {
    background-color: rgba(240, 190, 210, 0.5);
    color: white;
    text-shadow: 2px 2px #a07181;
    border: 1px dashed #d67ab1;
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer;
    top: 20%;
    position: relative;
    box-sizing: border-box;
    margin-right: 1em;
    border-radius: 50px;
    font-family: 'SoNormalRegular';
    font-size: 20px;
    height: 2.5em;
    margin-top: 5%;
  }
  
  .authButtons {
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .bowOverlay {
    transform: rotate(-30deg) translate(-50%,-150%);
    position: absolute;
  }
  
  header button:hover {
    transform: scale(110%, 110%);
  }
  
  .userNavHoverMenu {
    position: absolute;
    min-width: 200px;
    z-index: 666;
    display: none;
    background-color: #aaaaaa;
  }

  .skillContainerUpperBar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    left: 0;
    border-bottom: 1px solid green;
  }

  .heartSkillButton {
      background-color: transparent;
      border: none;
      border-right: 1px solid rgb(114, 173, 149);
  }

  .removeSkillButton {
    background-color: transparent;
    border: none;
    border-left: 1px solid rgb(114, 173, 149);
  }

  .modal-window {
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 4000;
      top: 0;
      font-family: 'SoNormalRegular';
  }

  #modal-window-one {
      display: none;
  }

  #modal-window-two {
    width: 40px;
    height: 30px;
    display: none;
}

 #modal-window-three {
      width: 40px;
      height: 20px;
      display: none;
  }

  #modal-window-four {
    width: 40px;
    height: 30px;
    display: none;
}

#modal-window-five {
    width: 40px;
    height: 20px;
    display: none;
}

#modal-window-six {
    width: 40px;
    height: 30px;
    display: none;
}

#skill1Modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50em;
    width: 60em;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.modalNavButtons {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.closeModalButton {
    height: 5em;
    width: 5em;
    background-color: transparent;
    color: red;
}

.goToSkillButton {
    height: 5em;
    width: 5em;
    background-color: transparent;
    color: red;
}

.skill1PreviewImg {
    width: 100px;
    height: 100px;
    margin: auto;
}

.skillDescription {
    padding-left: 4em;
    padding-right: 4em;
    width: 80%;
    box-sizing: border-box;
    position: relative;
    right: 0;
}

.previewMotif {
    width: 40%;
    position: relative;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.timeTravelMotifImg {
    height: 100%;
    width: 100%;
}

input[type=radio] {
  background-color: aquamarine;
}

/* Stefania */

*
{
    margin:0;
    padding: 0;
}

.userNav .profilePictureIcon
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.userNav .profilePictureIcon img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userNav .menuUser
{
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    
}
.userNav .menuUser.active
{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.userNav .menuUser::before{
    content: '';
    position: absolute;
    top:-5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.userNav .menuUser h3
{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.userNav .menuUser h3 span
{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.userNav .menuUser ul li
{
    list-style: 10px 0;
    padding: 10px 0;
    border-top: 1px solid rgb(0, 0, 0 , 0.05);
    display:  flex;
    align-self: center;
}

.userNav .menuUser ul li img
{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5s;
}

.userNav .menuUser ul li:hover img
{
    opacity:1;
}
.userNav .menuUser ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.userNav .menuUser ul li:hover a
{
     color: #ff5d94;
}