<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0"
>
    <servlet>
        <servlet-name>GatewayServlet</servlet-name>
        <servlet-class>com.timetraveling.gateway.RESTGateway</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GatewayServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.timetraveling.timetraveling_microservice.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.timetraveling.timetraveling_microservice.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.timetraveling.models.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.HomepageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/update-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSkillServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.AddSkillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSkillServlet</servlet-name>
        <url-pattern>/add-skill</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FavouriteServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.FavouriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavouriteServlet</servlet-name>
        <url-pattern>/favourite</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProfilePictureServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.UpdateProfilePictureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfilePictureServlet</servlet-name>
        <url-pattern>/update-profile-picture</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.timetraveling.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>com.timetraveling.models.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

</web-app>