header {
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffdfe0;
    background-image: url('../resources/images/texture2.png');
    background-repeat: repeat;
    border-bottom: 2px solid #a4a4a4;
    height: 7em;
  }
  
  .headerLogo {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
  }
  
  .headerLogo img {
    height: 100%;
    max-width:100%;
  }

.userNav {
    position: relative;
    display: block;
    margin: auto;
    font-family: 'SoNormalRegular';
  }
  
 /* .userNav:hover .userNavHoverMenu {
    display: block;
  }*/
  
  button {
    font-family: 'SoNormalRegular';
    cursor: pointer;
  }

header button {
    background-color: rgba(240, 190, 210, 0.5);
    color: white;
    text-shadow: 2px 2px #a07181;
    border: 1px dashed #d67ab1;
    padding: 12px 16px;
    /*! top: 20%; */
    position: relative;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'SoNormalRegular';
    font-size: 20px;
    height: 2.5em;
    margin: auto;
    margin-right: 1em;
  }
  
  .authButtons {
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    /*! box-sizing: border-box; */
    /*! display: block; */
    height: 100%;
  }
  
  .bowOverlay {
    transform: rotate(-30deg) translate(-50%,-150%);
    position: absolute;
  }
  
  header button:hover {
    transform: scale(1.10, 1.10);
  }

  .userNav .profilePictureIcon img
  {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    border: 1px dashed rgb(206, 142, 177);
    cursor: pointer;
  }

  
  
  .userNav .menuUser
  {
      position: absolute;
      top: 80px;
      right: -10px;
      padding: 10px 20px;
      background: #fff;
      width: 200px;
      box-sizing: border-box;
      border-radius: 15px;
      transition: 0.5s;
      visibility: hidden;
      opacity: 0;
      z-index: 10;
      
  }
  .userNav .menuUser.active
  {
      top: 80px;
      visibility: visible;
      opacity: 1;
  }
  .userNav .menuUser::before{
      content: '';
      position: absolute;
      top:-5px;
      right: 28px;
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(45deg);
  }
  
  .userName {
    color: rgb(156, 204, 185);
    text-decoration: none;
    transition: 0.5s;
  }

  .menuUser ul {
    padding: 0;
  }

  .menuUser ul li
  {
      list-style: none;
      padding: 10px 0;
      border-top: 1px solid rgba(0, 0, 0 , 0.05);
      display:  flex;
      align-self: center;
  }
  
  .menuUser ul li img
  {
      max-width: 1em;
      margin-right: 0.5em;
  }

  .menuUser ul li a
  {
      display: inline-block;
      text-decoration: none;
      color: #555;
      font-weight: 500;
      transition: 0.5s;
  }
  .menuUser ul li:hover a, .userName:hover
  {
       color: #ff5d94;
  }

@media screen and (max-width: 600px) {
    .tutorialContentBox p {
      font-size: 1em;
    }
    header {
      padding: 0px; 
    }
    header > * {
      width: 40%;
      flex-direction: row;
      display: block;
      flex-shrink: 0;
      height: 40%;
      margin: auto;
    }
    .authButtons {
      transform: scale(0.6, 0.6);
    }
    .userNav .menuUser {
      font-size: 2em;
    }
    }