@font-face {
  font-family: 'SoNormalRegular';
  src: url('../resources/fonts/fonts/SONORM_.ttf'); 
  font-weight: normal;
  font-style: normal;
}

  
html {
    overflow: visible;
    height: 100%;
}

html, body {
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 7em;
    /*! bottom: 0px; */
    /*! position: absolute; */
}

/*header {
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffdfe0;
  background-image: url('../resources/images/texture2.png');
  background-repeat: repeat;
  border-bottom: 2px solid #60435f;
  height: 10%;
}

.userNav {
  position: relative;
  display: inline-block;
}

.profilePictureIcon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  border: 1px dashed rgb(206, 142, 177);
}

.userNav:hover .userNavHoverMenu {
  display: block;
}*/

.skillChooserBaner {
  padding: 2em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.skillChooserBaner p {
  color: rgb(90, 138, 119);
  font-size: 2em;
}

input[type=text] {
  margin-top: 1em;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  font-family: 'SoNormalRegular';
  font-weight: lighter;
  cursor: url('../resources/images/cursor2.png'), auto;	
}

.imageContainer {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border: 1px solid rgb(114, 173, 149);
  border-bottom: 2px solid rgb(114, 173, 149);
  border-right: 2px solid rgb(114, 173, 149);
  margin-left: 3em;
  margin-right: 2.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  /*! overflow: hidden; */
  box-sizing: border-box;
  align-self: flex-start;
  max-height: 40em;
  max-width: 30em;
}

/*.imageContainer span {
  display: none;
}*/

.imageContainer:hover {
  flex-grow: 4.3;
  transition: all 300ms ease-in-out;
}

#skillsDisplay img:hover span {
  z-index: 999;
  position: fixed;
  overflow: hidden;
  background-color: rgba(136, 180, 173, 0.4);
  display: block;
  height: 2.5em;
  width: 4.5em;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(114, 173, 149);
  font-size: 2em;
  color: white;
}

.imageContainer p {
  position: absolute;
  bottom: 0px;
  padding-bottom: 15%;
}

.sectionMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  position: relative;
}

#skillsDisplay {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  margin: auto;
  background-image: url("../resources/images/bg15.png");
  border-image: url("../resources/images/laceborderfull.png") 250 / 250px / 45px round;
  position: relative;
  font-family: 'SoNormalRegular';
  padding-left: 2em;
  padding-right: 2em;
  bottom: 0px;
  overflow: visible;
  position: relative;
}

#skillsDisplay img {
  width: auto;
  display: block;
  /*! height: 20%; */
  /*! width: 20%; */
  /*! max-width: 10%; */
  /*! max-height: 10%; */
  /*! transform-origin: 0 0; */
  /*! transform: scale(10); */
  position: relative;
  overflow: hidden;
  max-height: 100%;
}

.skillChooserHeader {
  /*! padding-top: 50px; */
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5em;
  color: #fffdfe;
  text-shadow: 2px 2px #a07181;
  position: relative;
}

#skillsDisplay hr {
  border: 0 none;
  border-top: 2px dashed #a07181;
  position: relative;
}

/*header button {
  background-color: rgba(240, 190, 210, 0.5);
  color: white;
  text-shadow: 2px 2px #a07181;
  border: 1px dashed #d67ab1;
  padding: 12px 16px;
  font-size: 16px; 
  cursor: pointer;
  top: 20%;
  position: relative;
  box-sizing: border-box;
  margin-right: 1em;
  border-radius: 50px;
  font-family: 'SoNormalRegular';
  font-size: 20px;
  height: 2.5em;
  margin-top: 5%;
}

.authButtons {
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;
  margin-bottom: auto;
}

.bowOverlay {
  transform: rotate(-30deg) translate(-50%,-150%);
  position: absolute;
}

header button:hover {
  transform: scale(110%, 110%);
}

.userNavHoverMenu {
  position: absolute;
  min-width: 200px;
  z-index: 666;
  display: none;
  background-color: #aaaaaa;
}*/

.skillContainerUpperBar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  border-bottom: 1px solid green;
  /*! display: block; */
}

.heartSkillButton {
    background-color: transparent;
    border: none;
    border-right: 1px solid rgb(114, 173, 149);
}

/*@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
  }
}*/

.floatingFavoritedText {
  color: green;
  z-index: 2;
  position: absolute;
  animation-name: floatingFavorited;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  display: none;
}

@keyframes floatingFavorited {
  0% { transform: translate(0,  0); }
  70%   { transform: translate(0, -2em); }  
  100%   { transform: translate(0, -2em); opacity: 0; }   
}

.heartSkillButton:active, .removeSkillButton:active {
  /* set time duration to your needs */
  background: #f88;
  color: #fff;
  box-shadow: none;
}

.removeSkillButton {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgb(114, 173, 149);
}


#modalWindow1 {
    display: none;
}

#modalWindow2 {
  display: none;
}

#modalWindow3 {
  display: none;
}

#skillRemovalWarningModal {
  display: none;
}




.goToSkillButton {
  height: 2em;
  width: 4em;
  background-color: rgb(235, 194, 214);
  box-shadow: 0 0 0 1px rgb(182, 182, 182);
  border: none;
  box-sizing: border-box;
  font-size: 2em;
  color: white;
}

.skill1PreviewImg {
  width: 100px;
  height: 100px;
  margin: auto;
}

.skillDescription {
  width: 80%;
  box-sizing: border-box;
  position: relative;
  padding: 3em;
  overflow: hidden;
}

.skillDescription h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5em;
  color: #fffdfe;
  text-shadow: 2px 2px #a07181;
  position: relative;
}

.skillDescription hr {
  width: 100%;
}

.skillDescriptionDescription {
  height: 80%;
}

.skillDescriptionDescription p {
  color:rgb(182, 182, 182);
  font-size: 1.5em;
}

.skillDescriptionDescription form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
}

.skillDescription hr {
  border: 0 none;
  border-top: 2px dashed #a07181;
  position: relative;
}

.previewMotif {
  width: 40%;
  position: relative;
  top: 0;
  height: 100%;
  overflow: hidden;
}

.timeTravelMotifImg {
  height: 100%;
  width: 100%;
}

.yearLabel, .yearLabel * {
  cursor: pointer;
}

.yearLabel {
  color:rgb(114, 173, 149);
  font-size: 2em;
  margin-right: 2em;
  display: block;
}

input[type="radio"] {
  background-color: rgb(233, 231, 232);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(182, 182, 182);
  position: relative;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  -webkit-appearance: none;
}

input[type="radio"]:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  top: 0.5em;
}

input[type="radio"]:checked:after {
  box-sizing: border-box;
  background-color: #f190b0;
  transition: 0.5;
}


@media screen and (max-width: 600px) {
  #skillsDisplay {
      width: 100%;
  }
}

